/* ------------------------------------------------------------------------
[Typografi]

Overskrifter:	'DM Serif Display', serif;
Brødtekst:		'Libre Caslon Text', serif;


[Farve koder]

Beige       #E6D4C3
Bordeux     #680501
Hvid        #fff
Lysegrå     #D9D9D9
Mørkegrå    #2b2b2b
Orange      #ff1e00
Sort        #000
------------------------------------------------------------------------ */

/*Generel styling*/
 
* { 
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

img{
	max-width: 100%;
}

/* Generel styling af h1-h6 + p */
h1{
	font-size: 90px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #ff1e00;
	margin-top: 110px;
}

h2{			
	font-size: 80px; 
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #fff;
}

h3 {
	font-size: 45px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	padding-top: 5vh;
	padding-bottom: 9vh;
}

/*indhold header*/
header {
	background-color: #2b2b2b;
	height: 100vh;
	max-width: auto;
}

.lionmedia{	/* tekst LionMedia navn */
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
	margin-left: -200px;
}

.menu-top img {
    width: 100px; 
    height: auto; 
    margin-top: -20px;
  }

.menu-top{
 	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

.menu-hvid {
	width: 45vw;
	height: 50px;
	border-radius: 100px;
	background-color: #fff;
}

.fa-bars{
	display: flex;
	justify-content: right;
	margin-right: 20px;
    color: #2b2b2b;
}

.fa-magnifying-glass{
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-top: 22px;
    color: #2b2b2b;
}

.fa-check{
	color: #ff1e00;
}

/*dropdown menu*/
nav .mainmenu{
	display: flex;
	list-style: none;
  }
  
  nav .mainmenu li a{
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ff1e00;
	font-size: 1.5rem;
  }
  
  .mainmenu hr{
	border-bottom: 2px solid #ff1e00;
	margin: 20px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	
  }
  nav .openmenu{
	cursor: pointer;
  }
  
  nav .mainmenu .closemenu , .icons i{
	font-size: 2rem;
	display: none;
	cursor: pointer;
	color: #ff1e00;
  }
  
  .fa-tiktok:hover{color:rgb(99, 132, 243)}
  .fa-instagram:hover{color:rgb(223, 55, 206)}
  
  nav .logo{
	margin: 6px;
	font-size: 25px;
	cursor: pointer;
  }
  
	nav .mainmenu{
		height: 100vh;
		width: 50vw;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #EDECEC;
		transition: top 1s ease;
		display: none;
	}
  
	nav .mainmenu .closemenu{
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
  
	}
   
	nav .mainmenu li a:hover{
		background: none;
		color: #2b2b2b;
		font-size: 1.6rem;
	}
  
	.icons i{
	   display: inline-block;
	   padding: 12px;
	}
  /*dropdown slut*/

/* header tekst bokse + overskrifter */
.rullende-tekst{
	font-size: 25vh;
  font-family: "DM Serif Display", serif;
  text-align: center;
  color: #2b2b2b;
  -webkit-text-stroke: 2px #fff;
	margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 15s linear infinite;
  width: 200%;
  }
  
  @keyframes marquee{
  0%{
	transform: translateX(100%);
  }
  
  100%{
	transform: translateX(-100%);
  }
  }

.kolonner-header{
	display: flex;
}

.kolonner-header section{
	width: 50%;
	margin-left: 10px;
}

.kolonner-header aside{
	width: 50%;
	margin-left: 100px;
}

.p-header{
    font-size: 30px;
    font-family: "Libre Calson Text", serif;	
    text-align: left;
    color: #ffffff;
    line-height: 1.5;
    margin-top: 80px;
  }

/* main indhold */
.orange-h2 {
    color: #ff1e00;
	display: flex;
  	justify-content: left;
   margin-left: 15vw;
   margin-top: 40px;
   font-size: 80px;
	line-height: 1;
}

.grey-h2 {
    color: #2b2b2b;
    display: flex;
    justify-content: right;
    margin-right: 15vw;
	margin-bottom: 40px;
	font-size: 80px;
	line-height: 1;
}

/* "Det får i bokse" styling og indhold*/
.lightgrey-box, .darkgrey-box, .beige-box, .bordeaux-box{
    width: 96vw;
	height: 60vh;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 100px;
	border-radius: 30px;
	padding-left: 23vw;
	padding-right: 23vw;
}

.lightgrey-box{
	background-color: #D9D9D9;
}

.darkgrey-box{
	background-color: #2b2b2b;
}

.beige-box{
	background-color: #e6d4c3;
}

.bordeaux-box{
	background-color: #680501; 
}

.lightgreybox-columns, .darkgreybox-columns, .beige-columns, .bordeaux-columns{
	display: flex;
	justify-content: space-between;
}

.text-column1 p, .text-column2 p{
	font-family: 'Libre Caslon Text', serif;
	font-size: 25px;
	line-height: 3;
	border-bottom: solid 1px #2b2b2b;
}

.darkgrey-box p {
	color: #fff;
	border-bottom: solid 1px #fff;
}

.darkgrey-box h3{
	color: #fff;
}

.bordeaux-box h3{
	color: #fff;
}

.bordeaux-box p {
	color: #fff;
	border-bottom: solid 1px #fff;
}

/* strategi og plan bokse */
.plan-boks{
    width: 100vw;
	height: 100vh;
	background-color: #2b2b2b;
}

.strategi-boks{
    width: 100vw;
	height: 110vh;
	background-color: #E6D4C3;
	margin-bottom: 100px;
}

.strategi-boks h2{
	color: #2b2b2b;
	margin-bottom: 30px;
}

.kolonner-plan{
	display: flex
}

.kolonner-plan img{
	margin-left: 100px;
	max-width: 100%;
}

section{
	margin-left: 50px;
	width: 40%;
}

aside{
	margin-right: 50px;
	width: 60%;
	margin-bottom: 100px;
}

section img{
	width: 50%;
	height: auto;
}

.overskrift-p{
	font-size: 30px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: #ff1e00;
}
  
.punkt{
	font-size: 20px;
    font-family: 'Libre Caslon Text', serif;	
	text-align: left;
	color: #fff;
	line-height: 1.5;
}

.fa-solid{
	margin-right: 10px;
}

/* bordeaux boks på sociale medier siden */
.plan-boks-socialemedier{
	width: 100vw;
	height: 110vh;
	background-color: #680501;
	margin-bottom: 100px;
}

.plan-boks-socialemedier img{
	max-width: 45%;
	height: auto;
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Tidligere case - digital strategi side */
.tidligere-case{
	width: 100vw;
	max-height :auto;
	background-color: #2b2b2b;
	margin-bottom: 100px;
}

.kolonne-case{
	display: flex;
}

.caseimg{
	margin-left: 50px;
	width: 30%;
}

.caseimg img{
	width: 100%;
	height: auto;
}

.beskrivelse{
	margin-right: 50px;
	width: 70%;
	color: #fff;
	margin-top: 60px;
	font-size: 20px;
	line-height: 1.5;
}

.start-case{
	font-size: 25px;
}

.greywolf-img{
	max-width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.greywolfmobil-img{
	width: 500px;
}

/*Kontaktform*/

form { /*styling af selve kontaktboksen*/
	border-radius: 30px;
	background-color: #EDECEC;
	padding: 3em;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10vh;
	border: 1px solid #2b2b2b;
  }

.kontakt-overskrift {
    color: #ff1e00;
	margin-top: 40px;
  	margin-bottom: 4vh;
}
  
input[type=text], input[type=email], input[type=tel], input[type=firma]{
	  width: 100%;
	  padding: 1em;
	  border: 1px solid #2b2b2b;
	  border-radius: 50px;
	  margin-top: 0.5em;
	  margin-bottom: 1em;
  }

fieldset {
	border-style: none;
	margin-bottom: 0.8em;
}

input[type=checkbox]{
	margin: 0.8em 0;
}
  
button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 100px;
	width: 40%;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 30px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

button:hover{
background-color: #2b2b2b;
}
  

/*footer*/
footer {
	background-color: #2b2b2b;
	height: auto;
	width: auto;
} 

footer img{
	max-width: 15%;
	height: auto;
	padding: 20px;
}

.kolonner{
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	padding-left: 20px;
}

.kolonne1{
	grid-column-start: 1;
	margin-top: 30px;
}

.kolonne1 p{
	line-height: 1;
	text-align: left;
	font-size: 23px;
	color: #fff;
	margin-top: 10px;
}

.kolonne1 a {
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	text-decoration: none;
}

.kolonne2 nav li, .kolonne3 nav li{
	text-align: left;
	margin-right: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	list-style-type: none;
	margin-bottom: 10px;
	margin-top: 30px;
}

.kolonne2 a, .kolonne3 a{
	color: #fff;
	line-height: 0.3;
	font-family: 'Libre Caslon Text', serif;
	font-size: 20px;
	text-decoration: none;
}

.kolonne2{
	grid-column-start: 3;
}

.kolonne3{
	grid-column-start: 5;
}

hr{
	border: 1px solid #fff;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.info{
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	padding-bottom: 30px;
}

.kolonne1 img{
	max-width: 25%;
	height: auto;
	margin-left: -20px;
}

@media only screen and (max-width: 600px) {
    header{
        height: auto;
    }
   
    .menu-top{
        display: flex;
        justify-content: space-between;
         padding-top: 20px;
         padding-left: 20px;
         padding-right: 10px;
    }
    
    .menu-hvid{
        background-color: #2b2b2b;
        width: 25vw;
    }
    
    .fa-bars{
        color: #fff;
    }
    
    .fa-magnifying-glass{
        color: #fff;
    }

.rullende-tekst{
    font-size: 90px;
}

h1{
    font-size: 90px;
    margin-left: 15px;
    margin-top: 0px;
}

.p-header{
    font-size: 20px;
    margin-top: 0px;
}

/* header tekst kolonner */

.kolonner-header{
    display: grid;
    grid-template-rows: 50% 50%;
}

.kolonner-header section{
    grid-row-start: 1;
}

.kolonner-header aside {
    grid-row-start: 2;
}

/* lysegrå boks */
.orange-h2, .grey-h2{
    font-size: 50px;
}

.lightgrey-box{
    width: 90vw;
}

/* Mørkegrå boks */
.plan-boks{
    height: auto;
    background-color: #2b2b2b;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2{
    font-size: 50px;
}

.overskrift-p{
    display: flex;
    justify-content: center;
}

.kolonner-plan{
    flex-direction: row;
}

.kolonner-plan section {
    display: none;

}

aside{
    width: 90%;  
    justify-content: center;
}

/* Kontakt form */
.kontakt-overskrift{
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

button{
    width: 80%;
}


/*Footer*/

    footer{
	height: auto;
}

    footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

    .kolonner{
	display: flex;
	flex-direction: column;
}

    .kolonne1{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

    .kolonne2, .kolonne3{
	box-sizing: border-box;
	width: 100%;
}

    .kolonne1 p{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
    
}