@media only screen and (max-width: 600px) {

    /* dropdown menu*/
    nav .mainmenu{
        width: 100vw;
    }

    /*Header*/
  form {
    display: flex;
  }	
  
  header{
    height: 100vh;
    width: 100vw;
  }
  
  h1{
    font-size: 95px;
    padding-top: 80px;
    margin-bottom: -40px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 0px;
  }



.p-header{
    font-size: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
  }

  
  .lionmedia{
    margin-left: -40px;
    font-size: 40px;
  }
  
  .menu-top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
  
  .menu-hvid{
    background-color: #2b2b2b;
    width: 25vw;
  }
  
  .fa-bars{
    color: #fff;
  }
  
  .fa-magnifying-glass{
    color: #fff;
  }

  .rullende-tekst{
    display: none;
  }

/* header tekst kolonner */

.kolonner-header{
    display: grid;
    grid-template-rows: 50% 50%;
}

.kolonner-header section{
    grid-row-start: 1;
}

.kolonner-header aside {
    grid-row-start: 2;
    width: 100%;
    margin-left: 20px;
}
	

/* det får i bokse */
.orange-h2, .grey-h2, .process-orange-h2, .process-grey-h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.marketing-orange-h2, .some-orange-h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
} 

.marketing-grey-h2, .some-grey-h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.lightgrey-box, .darkgrey-box, .bordeaux-box, .beige-box{
    width: 90vw;
    height: auto;
    padding-left: 20vw;
	padding-right: 10vw;
    margin-left: 25px;
}

.lightgreybox-columns, .darkgreybox-columns, .bordeaux-columns, .beige-columns{
    display: grid;
    grid-template-rows: 50% 50%;
}

.text-column1{
    grid-row-start: 1;
    margin-bottom: 20px;
}

.text-column2{
    grid-row-start: 2;
    margin-top: 20px;
}

.bordeaux-box {
	padding-bottom: 50px;
}

/* Mørkegrå boks */
.plan-boks, .strategi-boks, .plan-boks-socialemedier{
    height: auto;
    width: 100vw;
    padding-top: 50px;
}

h2{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}

.overskrift-p, .some-overskrift-p{
    text-align: center;
    margin-left: 60px;
    margin-right: 10px;
}

.punkt, .digital-punkt{
    text-align: left;
    margin-left: 60px;
}

.kolonner-plan{
    flex-direction: row;
}

.kolonner-plan section {
    display: none;
}

aside{
    width: 90%;  
    justify-content: center;
    margin-bottom: 10px;
}


/* tidligere case */
.kolonne-case{
    display: grid;
    grid-template-rows: 50% 50%;
}

.kolonne-case aside{
    grid-row-start: 1;
    width: 90%;
    text-align: center;
    margin-left: 25px;
}

.beskrivelse{
	margin-top: 40px;
	font-size: 22px;
}

.start-case{
    font-size: 35px;
}

.kolonne-case section{
    grid-row-start: 2;
}

/* tidligere case webdesign */
.caseh2{
	font-size: 60px;
}

.caseimg{
    display: none;
}

/* proces boks */
.process-boks {
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 30px;
    color: #ff1e00;
}

/* Kontakt form */
.kontakt-overskrift{
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

button{
    width: 80%;
}


/*Footer*/

    footer{
	height: auto;
}

    footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

    .kolonner{
	display: flex;
	flex-direction: column;
}

    .kolonne1{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

    .kolonne2, .kolonne3{
	box-sizing: border-box;
	width: 100%;
}

    .kolonne1 p{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
    
}