/*Generel styling*/
 
* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

header {
	background-color: #2b2b2b;
	height: 100vh;
	max-width: auto;
}

/* header */
.menu-top {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-top img {
  width: 100px; 
  height: auto; 
  margin-top: -20px;
}

.lionmedia {
font-size: 50px;
font-family: "DM Serif Display", serif;
text-align: left;
color: white;
margin-left: -300px;
text-decoration: none;
  }

.menu-hvid {
width: 45vw;
height: 50px;
border-radius: 100px;
background-color: #fff;
}

.fa-bars{
display: flex;
justify-content: right;
margin-right: 20px;
}

.fa-magnifying-glass{
display: flex;
justify-content: left;
margin-left: 20px;
margin-top: 22px;
}

h1{
	font-size: 90px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #ff1e00;
  margin-top: 110px;
}

/*dropdown menu*/
nav .mainmenu{
  display: flex;
  list-style: none;
}

nav .mainmenu li a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff1e00;
  font-size: 1.5rem;
}

.mainmenu hr{
  border-bottom: 2px solid #ff1e00;
  margin: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  
}
nav .openmenu{
  cursor: pointer;
}

nav .mainmenu .closemenu , .icons i{
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: #ff1e00;
}

.fa-tiktok:hover{color:rgb(99, 132, 243)}
.fa-instagram:hover{color:rgb(223, 55, 206)}

nav .logo{
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}

  nav .mainmenu{
      height: 100vh;
      width: 50vw;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #EDECEC;
      transition: top 1s ease;
      display: none;
  }

  nav .mainmenu .closemenu{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
 
  nav .mainmenu li a:hover{
      background: none;
      color: #2b2b2b;
      font-size: 1.6rem;
  }

  .icons i{
     display: inline-block;
     padding: 12px;
  }
/*dropdown slut*/

/*Om os præsentation*/

.kolonne {
  display: flex;
}

.kolonne article {
    height: auto; 
    padding: 1em;
    width: 50%;
    margin: 0 0 0 1em; 
  border-radius: 8px;
}

.kolonne aside {
    height: auto;
    padding: 1em;
    width: 50%;
    margin: 0 1em 0 1em;
  border-radius: 8px;
}

.ny-p{
  font-size: 30px;
  font-family: "Libre Calson Text", serif;	
  text-align: left;
  color: #ffffff;
  line-height: 1.5;
  margin-top: 80px;
}

/*tekst og overskrifter*/

.rullende-tekst{
  font-size: 25vh;
font-family: "DM Serif Display", serif;
text-align: center;
color: #2b2b2b;
-webkit-text-stroke: 2px #fff;
  margin-top: 20px;
white-space: nowrap;
overflow: hidden;
animation: marquee 15s linear infinite;
width: 200%;
}

@keyframes marquee{
0%{
  transform: translateX(100%);
}

100%{
  transform: translateX(-100%);
}
}

/*video*/

 .page-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    max-width: 70%;
}

.video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
    margin-left: -10px;
}

/*Punktopstillinger*/

.sectionvideo {
    display: flex;
  }
  
  .sectionvideo article {
      height: auto; 
      padding: 1em;
      width: 50%;
      margin: 0 0 0 1em; 
    border-radius: 8px;
    margin-left: 70px;
  }
  
  .sectionvideo aside {
      height: auto;
      padding: 1em;
      width: 50%;
      margin-right: 40px;
  }

  .punktliste {
    list-style-type: disc; /* Brug cirkler som punkttegn */
    margin-left: 20px; /* Tilføj en margin til venstre for at give indrykning */
  }
  
  .punktliste li {
    font-size: 20px;
    font-family: "Libre Calson Text", serif;	
    text-align: left;
    color:#2b2b2b; 
    line-height: 1.5;
    margin-top: 22px;
    margin-right: 20px;
  }
  
  h4{
    font-size: 60px;
	  font-family: "DM Serif Display", serif;
    color: #ff1e00;
	  text-align: center;
    margin-top: 40px;
    margin-right: 100px;
}

  .customh4 {
    font-size: 60px;
	  font-family: "DM Serif Display", serif;
	  text-align: center;
	  color:#2b2b2b; 
    margin-top: -15px;
    margin-left: 500px;
}

  /*services forside*/

.knap-pris button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 0.5em;
	border: none;
	border-radius: 100px;
	width: 15%;
	font-size: 25px;
	cursor: pointer;
	margin-top: 40px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

.knap-pris {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.knap-container{
	width: 10%;
	font-size: 20px;
	margin-left: 70px;
}

/* mørkegrå boks - hvem er vi */
.nyboks{
  background-color: #333232;
	height: auto;
	max-width: auto;
  padding-bottom: 60px;
  padding-top: 30px;
}

.teamet{
  display: flex;
  justify-content: space-evenly;
}

.boks1, .boks2, .boks3, .boks4{
  height: 400px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.boks1 p, .boks2 p, .boks3 p, .boks4 p{
  color: #fff;
  font-size: 20px;
  font-family: "Libre Calson Text", serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hvem-er-vi1 {
  color: #ff1e00;
  font-size: 60px;
  font-family: "DM Serif Display", serif;
  display: flex; 
  justify-content: center;
  margin-left: -120px;
}

.hvem-er-vi2{
  color: #fff;
  font-size: 60px;
  font-family: "DM Serif Display", serif;
  display: flex;
  justify-content: center;
  margin-right: -300px;
  margin-bottom: 10px;
  margin-top: -5px;
}

/*services forside*/

.service-overskrift{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
	margin-bottom: 60px;
}

.servicecontainer{
	display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.serviceboks1, .serviceboks2, .serviceboks3, .serviceboks4 {
	transition: 1s;
}

.serviceboks1:hover, .serviceboks2:hover, .serviceboks3:hover, .serviceboks4:hover{
	transform:scale(1.1);
	z-index: 2;
}

.serviceboks1{
    background-color: #EDECEC;
    height: 400px;
    width: 300px;
    border-radius: 30px;
}

.serviceboks1 h3, .serviceboks2 h3{ 
text-align: center;
padding-top: 20px;
color: #000;
font-size: 35px;
font-family: "DM Serif Display", serif;
}

.serviceboks1 hr, .serviceboks2 hr{
    border: 1px solid #000;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 20px;
}

.serviceboks1 p, .serviceboks2 p{
text-align: center;
font-size: 20px;
line-height: 2;
font-family: 'Libre Caslon Text', serif;
font-size: 20px;
}

.service-knap{
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 0.5em;
    padding-top: 2.5px;
	border: none;
	border-radius: 100px;
    width: 50%;
    height: 10%;
	font-size: 25px;
	font-weight: 600;
	cursor: pointer;
    margin-left: 25%;
	margin-right: 25%;
    margin-top: 40px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

.service-knap button:hover{
    background-color: #333232;
    }

.serviceboks2{
    background-color: #E6D4C3;
    height: 400px;
    width: 300px;
    border-radius: 30px;
}

.serviceboks3{
    background-color: #680501;
    height: 400px;
    width: 300px;
    border-radius: 30px;
}

.serviceboks3 h3, .serviceboks4 h3{ 
text-align: center;
color: #fff;
padding-top: 20px;
font-size: 35px;
font-family: "DM Serif Display", serif;
}

.serviceboks3 hr, .serviceboks4 hr{
    border: 1px solid #fff;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 20px;
}

.serviceboks3 p, .serviceboks4 p{
text-align: center;
font-size: 20px;
line-height: 2;
color: #fff;
font-family: 'Libre Caslon Text', serif;
font-size: 20px;
}

.serviceboks4{
    background-color: #333232;
	color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 30px;
}

.pris-tekst{
	font-size: 40px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
}


.knap-pris button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 0.5em;
	border: none;
	border-radius: 100px;
	width: 15%;
	font-size: 25px;
	cursor: pointer;
	margin-top: 40px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

.knap-pris {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}


/*footer*/
footer {
	background-color: #333232;
	height: auto;
	width: auto;
} 

footer img{
	max-width: 15%;
	height: auto;
	padding: 20px;
}

.kolonner{
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	padding-left: 20px;
}

.kolonne1{
	grid-column-start: 1;
	margin-top: 30px;
}

.kolonne1 p{
	line-height: 1;
	text-align: left;
	font-size: 23px;
	color: #fff;
	margin-top: 10px;
}

.kolonne1 a {
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	text-decoration: none;
}

.kolonne2 nav li, .kolonne3 nav li{
	text-align: left;
	margin-right: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	list-style-type: none;
	margin-bottom: 10px;
	margin-top: 30px;
}

.kolonne2 a, .kolonne3 a{
	color: #fff;
	line-height: 0.3;
	font-family: 'Libre Caslon Text', serif;
	font-size: 20px;
	text-decoration: none;
}

.kolonne2{
	grid-column-start: 3;
}

.kolonne3{
	grid-column-start: 5;
}

hr{
	border: 1px solid #fff;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.info{
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.kolonne1 img{
	max-width: 25%;
	height: auto;
	margin-left: -20px;
}

/*Responsiv skal tilpasses!*/

/*mobil*/
@media only screen and (max-width: 600px){
	main{
		width: 100%;
	}

/*Header*/

main{
  width: 100%;
}

form {
  display: flex;
}	

header{
  height: 110vh;
  width: 100vw;
}

h1{
  font-size: 60px;
  margin-top: -20px;
  margin-bottom: -40px;
}

.ny-p{
  margin-right: 8px;
  }

.lionmedia{
  margin-left: -40px;
  font-size: 40px;
}

.menu-top{
  display: flex;
  justify-content: space-between;
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 10px;
}

.menu-hvid{
  background-color: #2b2b2b;
  width: 25vw;
}

.fa-bars{
  color: #fff;
}

.fa-magnifying-glass{
  color: #fff;
}

nav .mainmenu{
width: 100vw;
}

.kolonne {
  display: grid;
grid-template-rows: 50% 50%;
}
.kolonne article { 
padding: 1em;
grid-row-start: 1;
width: 100%;
text-align: center;

}
.kolonne aside {
padding: 1em;
grid-row-start: 2;
width: 100%;
text-align: center;
margin-top: -150px;
margin-bottom: 40px;
}	

/* hvad kan vi så */
h4 {
  font-size: 45px;
  margin-left: 30px;
  margin-right: 20px;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
}

.customh4 {
  font-size: 45px;
  margin-left: 40px;
  margin-bottom: -20px;
 }

.sectionvideo{
display: grid;
grid-template-rows: 65% 35%;
}

.sectionvideo article {
 width: 100%;
 grid-row-start: 2;
 margin-left: 10px;
}

.sectionvideo aside {
  width: 100%;
  grid-row-start: 1;
}

/* hvem er vi - mørkegrå boks */

.teamet{
  max-width: 100vw;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin-left: 20px;
  margin-right: 20px;
}

.hvem-er-vi1 {
  display: flex; 
  margin-left: 20px;
}

.hvem-er-vi2{
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.boks1, .boks2, .boks3, .boks4{
width: 80vw;
height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

/*services*/

.servicecontainer {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  margin-left: 20px;
  margin-right: 20px;
  }

.serviceboks1, .serviceboks2, .serviceboks3, .serviceboks4 {
  width: 80vw;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-knap{
  margin-top: 45px;
}

.knap-container{
  display: none;
}

h2{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 55px;
}

.knap-pris {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.knap-pris button {
  background-color: #ff1e00;
  color: #fff;
  font-family: "DM Serif Display", serif;
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 100px;
  width: 30%;
  font-size: 25px;
  cursor: pointer;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}


/*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

.kolonner{
	display: flex;
	flex-direction: column;
}

.kolonne1{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

.kolonne2{
	box-sizing: border-box;
	width: 100%;
}

.kolonne3{
	box-sizing: border-box;
	width: 100%;
}

.insta{
	max-width: 20%;
}
.tiktok{
	max-width: 20%;
}

.kolonne1 p{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
}

/*ipad + op til 13 tommer computerskærm*/
@media only screen and (min-width: 600px) and (max-width: 1200px){
	main{
		width: 100%;
	}

/*Header*/
	
header{
  height: 105vh;
  width: 100vw;
}

h1{
  font-size: 80px;
  padding-top: 60px;
}

.menu-top{
  display: flex;
  justify-content: space-between;
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 10px;
}

.menu-hvid{
  background-color: #2b2b2b;
  width: 18vw;
}

.fa-bars{
  color: #fff;
}

.fa-magnifying-glass{
  color: #fff;
}

/* hvad kan vi så */
  
  .sectionvideo article {
   margin-left: 15px;
  }
  
  .sectionvideo aside {
    margin-right: -10px;
    margin-top: -30px;
  }


/* hvem er vi - mørkegrå boks */

.teamet{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 20px;
	margin-right: 20px;
  }

  .boks1, .boks2, .boks3, .boks4{
    width: 45vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*services*/

.servicecontainer {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 20px;
	margin-right: 20px;
  }

.serviceboks1, .serviceboks2, .serviceboks3, .serviceboks4 {
	width: 45vw;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.service-knap{
	margin-top: 45px;
}

	.knap-container{
		display: none;
	}

	h2{
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 55px;
	}

	.knap-pris {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.knap-pris button {
		background-color: #ff1e00;
		color: #fff;
		font-family: "DM Serif Display", serif;
		padding: 0.5em 0.5em;
		border: none;
		border-radius: 100px;
		width: 30%;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
		box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
	}


  /*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

footer p{
	font-size: 17px;
}

}
