/*Generel styling*/
 
* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

header {
	background-color: #2b2b2b;
	height: 100vh;
	max-width: auto;
}

img{
    max-width: 100%;
}

/*Menu-top*/
.menu-top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu-top img {
    width: 100px; 
    height: auto; 
    margin-top: -20px;
  }

  .lionmedia {
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
    margin-left: -400px;
    }
  
.menu-hvid {
	width: 45vw;
	height: 50px;
	border-radius: 100px;
	background-color: #fff;
}

.fa-bars{
	display: flex;
	justify-content: right;
	margin-right: 20px;
}

.fa-magnifying-glass{
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-top: 22px;
}

/*dropdown menu*/
nav .mainmenu{
    display: flex;
    list-style: none;
}

nav .mainmenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff1e00;
    font-size: 1.5rem;
}

.mainmenu hr{
    border-bottom: 2px solid #ff1e00;
    margin: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}
nav .openmenu{
    cursor: pointer;
}
 
nav .mainmenu .closemenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #ff1e00;
}

.fa-tiktok:hover{color:rgb(99, 132, 243)}
.fa-instagram:hover{color:rgb(223, 55, 206)}
 
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

    nav .mainmenu{
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #EDECEC;
        transition: top 1s ease;
        display: none;
    }

    nav .mainmenu .closemenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
 
    }
   
    nav .mainmenu li a:hover{
        background: none;
        color: #2b2b2b;
        font-size: 1.6rem;
    }
	
    .icons i{
       display: inline-block;
       padding: 12px;
    }
/*dropdown slut*/

/*Om os præsentation*/

.kolonne {
    display: flex;
  }
  
  .kolonne article {
      height: auto; 
      padding: 1em;
      width: 50%;
      margin: 0 0 0 1em; 
    border-radius: 8px;
  }
  
  .kolonne aside {
      height: auto;
      padding: 1em;
      width: 50%;
      margin: 0 1em 0 1em;
    border-radius: 8px;
  }

  /*tekst og overskrifter*/

.rullende-tekst{
    font-size: 25vh;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #2b2b2b;
	-webkit-text-stroke: 2px #fff;
    margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	animation: marquee 15s linear infinite;
}

@keyframes marquee{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(-100%);
	}
}

h1{
	font-size: 90px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #ff1e00;
    margin-top: 110px;
}

.ny-p{
    font-size: 30px;
    font-family: "Libre Calson Text", serif;	
    text-align: left;
    color: #ffffff;
    line-height: 1.5;
    margin-top: 80px;
  }

/* to farvet overskrift */
.first-line {
    font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color:#ff1e00; 
    margin-top: 40px;
    margin-right: 100px;
}

.second-line {
    font-size: 60px;
	font-family: "DM Serif Display", serif;
	color:#2b2b2b; 
    margin-top: -15px;
    text-align: center;
    margin-left: 450px;
}

/*kontakt tekst*/
.info-tekst{
    font-size: 30px;
    font-family: "Libre Calson Text", serif;
    color:#2b2b2b; 
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
    margin-left: 25vw;
    margin-right: 25vw;
}

/*Kontaktformular*/

.kontaktform {
	border-radius: 5px;
	padding: 1.3em;
	width: 50%;
	margin: 0 auto; /*Centrerer elementet på siden*/
	margin-bottom: 80px;
  }
  
.container{
    display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	margin-top: 40px;
}

.container article{
    grid-column-start: 1;
    margin-bottom: 20px;
}

.container aside {
    grid-column-start: 2;
}

input[type=text], input[type=email], input[type=tel], input[type=firma], textarea{
    padding: 1em;
    border: 1px solid #333232;
    border-radius: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    background-color: #EDECEC;
}

h3{
    font-size: 25px;
    font-family: "DM Serif Display", serif;
}

/*Styling af dropdown*/
select{
	padding: 0.675em 6em 0.675em 1em;
	appearance: none;
	-webkit-appearance: none; /*appearance fjerne default udseende på dropdown*/
	cursor: pointer;
}

.kontakttekst{
    font-size: 20px;
    font-family: "Libre Calson Text", serif;
    color:#000; 
    border-bottom: 10px;
    margin-right: 20px;
}

.kontakt-telefon, .kontakt-mail {
	position: relative;
    margin-top: 20px;
  }

.kontakt-telefon::before, .kontakt-mail::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #000;
  top: 48%;
}

.kontakt-telefon::after, .kontakt-telefon::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #000;
  top: 63%;
}

.visually-hidden{ /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*check box kategorier*/
.marketing{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #EDECEC;
    font-size: 60px;
    color: #333232;
    text-align: center;
    padding-top: 15px;
}

.webdesign{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #680501;
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.digital{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333232;
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.social{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #E6D4C3;
    font-size: 60px;
    color: #333232;
    text-align: center;
    padding-top: 15px;
}

textarea {
    display: flex;
    justify-content: center;
	border-radius: 20px;
    background-color: #EDECEC
}

.checkbox{
    border-style: none;
    width: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

.checkbox-kolonne1{
    grid-column-start: 1;
}

.checkbox-kolonne2{
    grid-column-start: 2;
}

#check{
    margin-bottom: 20px;
}

#check:checked, #tel:checked, #mail:checked{
    accent-color: #ff1e00;
}

legend{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Libre Calson Text", serif;
    color:#000; 
}

.kontaktes-valg{
    border-style: none;
    font-family: "DM Serif Display", serif;
    color: #000;
    display: flex;
    gap: 10px;
}

button {
	background-color: #ff1e00;
	color: #fff;
	font-family: "DM Serif Display", serif;
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 100px;
	width: 35%;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 40px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

button:hover{
background-color: #333232;
}

/*footer*/
footer {
	background-color: #333232;
	height: auto;
	width: auto;
} 

footer img{
	max-width: 15%;
	height: auto;
	padding: 20px;
}

.kolonner{
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	padding-left: 20px;
}

.kolonne1{
	grid-column-start: 1;
	margin-top: 30px;
}

.kolonne1 p{
	line-height: 1;
	text-align: left;
	font-size: 23px;
	color: #fff;
	margin-top: 10px;
}

.kolonne1 a {
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	text-decoration: none;
}

.kolonne2 nav li, .kolonne3 nav li{
	text-align: left;
	margin-right: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	list-style-type: none;
	margin-bottom: 10px;
	margin-top: 30px;
}

.kolonne2 a, .kolonne3 a{
	color: #fff;
	line-height: 0.3;
	font-family: 'Libre Caslon Text', serif;
	font-size: 20px;
	text-decoration: none;
}

.kolonne2{
	grid-column-start: 3;
}

.kolonne3{
	grid-column-start: 5;
}

hr{
	border: 1px solid #fff;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.info{
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.kolonne1 img{
	max-width: 25%;
	height: auto;
	margin-left: -20px;
}


/*Responsiv skal tilpasses!*/

/*mobil*/
@media only screen and (max-width: 600px){

/*Header*/

	main{
		width: 100%;
	}
	
	form {
		display: flex;
	}	
	
	header{
		height: 115vh;
		width: 100vw;
	}

	h1{
		font-size: 90px;
		font-family: "DM Serif Display", serif;
		text-align: center;
		color: #ff1e00;
		margin-top: -20px;
	}

	.ny-p{
		margin-right: 8px;
	  }

	.lionmedia{
		margin-left: -40px;
		font-size: 40px;
	}

	.menu-top{
		display: flex;
		justify-content: space-between;
	 	padding-top: 20px;
	 	padding-left: 20px;
	 	padding-right: 10px;
	}

	.menu-hvid{
		background-color: #2b2b2b;
		width: 25vw;
	}

	.fa-bars{
		color: #fff;
	}

	.fa-magnifying-glass{
		color: #fff;
	}

nav .mainmenu{
	width: 100vw;
}
.kolonne {
    display: grid;
	grid-template-rows: 50% 50%;
  }
  .kolonne article { 
	padding: 1em;
	grid-row-start: 1;
	width: 100%;
	text-align: center;

}
.kolonne aside {
	padding: 1em;
	grid-row-start: 2;
	width: 100%;
	text-align: center;
	margin-top: -150px;
	margin-bottom: 40px;
}	
/*Main*/
.first-line {
   margin-left: 70px;
   line-height: 1;
   margin-bottom: 10px;
}

.second-line {
	margin-left: 0px;
}

.info-tekst{
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Kontaktformukar*/
form{
	display: flex;
	flex-direction: column;
}

.kontaktform {
	width: 90%;
	margin-left: 45px;
  }

.container{
	display: flex;
	flex-direction: column;
}

.container article{
	width: 100%;
}

.container aside {
	width: 100%;
}

.checkbox{
	margin-left: 45px;
}

textarea{
	width: 100%;
	margin-left: -20px;
}

button{
	margin-right: 150px;
}

/*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

.kolonner{
	display: flex;
	flex-direction: column;
}

.kolonne1{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

.kolonne2{
	box-sizing: border-box;
	width: 100%;
}

.kolonne3{
	box-sizing: border-box;
	width: 100%;
}

.insta{
	max-width: 20%;
}
.tiktok{
	max-width: 20%;
}

.kolonne1 p{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

}

/*Header*/
/*ipad + op til 13 tommer computerskærm*/
@media only screen and (min-width: 600px) and (max-width: 1200px){
	main{
		width: 100%;
	}
	
	form {
		display: flex;
	}	

	/*Header*/
	
	header{
		height: auto;
	}

	h1{
		font-size: 45px;
	}

	.menu-top{
		display: flex;
		justify-content: space-between;
	 	padding-top: 20px;
	 	padding-left: 20px;
	 	padding-right: 10px;
	}

	.menu-hvid{
		background-color: #2b2b2b;
		width: 18vw;
	}

	.fa-bars{
		color: #fff;
	}

	.fa-magnifying-glass{
		color: #fff;
	}

/*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

footer p{
	font-size: 17px;
}

}
