/* ------------------------------------------------------------------------
[Typografi]

Overskrifter:	'DM Serif Display', serif;
Brødtekst:		'Libre Caslon Text', serif;


[Farve koder]

Beige       #E6D4C3
Bordeux     #680501
Hvid        #fff
Lysegrå     #D9D9D9
Mørkegrå    #2b2b2b
Orange      #ff1e00
Sort        #000
------------------------------------------------------------------------ */

/*mobil*/
@media only screen and (max-width: 600px){
	main{
		width: 100%;
	}
	
	form {
		display: flex;
	}	

	/*Header*/
	
	header{
		height: auto;
	}
	
	header h1{
		font-size: 40px;
	}

	.menu-top{
		display: flex;
		justify-content: space-between;
	 	padding-top: 20px;
	 	padding-left: 20px;
	 	padding-right: 10px;
	}

	.menu-hvid{
		background-color: #2b2b2b;
		width: 25vw;
	}

	.fa-bars{
		color: #fff;
	}

	.fa-magnifying-glass{
		color: #fff;
	}

	.videocontainer {
		display: grid;
		grid-template-rows: 50% 50%;
	}
	
	.video {
		width: 90%; 
		height: auto;
		grid-template-rows: 2;
		margin-left: 43px;
		margin-top: -50px;
	}
	
	.frontimg {
		width: 100%;
		height: auto;
		grid-template-rows: 1;
		margin-top: -75px;
	}

/*services*/

	.bokscontainer {
		display: grid;
		grid-template-rows: 25% 25% 25% 25%;
		margin-left: 20px;
		margin-right: 20px;
	  }

	.boks1, .boks2, .boks3, .boks4 {
		width: 80vw;
		height: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.service-knap{
		margin-top: 45px;
	}

	h2{
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 55px;
	}

	.pris-knap {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.pris-knap button {
		background-color: #ff1e00;
		color: #fff;
		font-family: "DM Serif Display", serif;
		padding: 0.5em 0.5em;
		border: none;
		border-radius: 100px;
		width: 30%;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
		box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
	}

	/*cases*/

	h4{
		margin-top: -5px;
	}

	.case-img{
		width: 100%;
		height: auto;
	}

	.cases-billeder{
		display: flex;
		justify-content: space-evenly;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 70px;
	}

	/*kontakt skema*/
	
	.first-line {
		color: #ff1e00;
		display: flex;
	   justify-content: left;
	   margin-left: -100px;
	}
	
	.second-line {
		color: #333232;
		display: flex;
		justify-content: right;
		margin-right: -100px;
	}

	form {
		display: grid;
		grid-template-rows: 50% 50%;
	}
	
	.left{
		grid-row-start: 1;
	} 
	
	.right{
		grid-row-start: 2;
	}

	button{
		width: 50%;
	}

/*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

.kolonner{
	display: flex;
	flex-direction: column;
}

.kolonne1{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

.kolonne2{
	box-sizing: border-box;
	width: 100%;
}

.kolonne3{
	box-sizing: border-box;
	width: 100%;
}

.insta{
	max-width: 20%;
}
.tiktok{
	max-width: 20%;
}

.kolonne1 p{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
}

/*ipad + op til 13 tommer computerskærm*/
@media only screen and (min-width: 600px) and (max-width: 1200px){
	main{
		width: 100%;
	}
	
	form {
		display: flex;
	}	

	/*Header*/
	
	header{
		height: auto;
	}
	
	header h1{
		font-size: 45px;
	}

	.menu-top{
		display: flex;
		justify-content: space-between;
	 	padding-top: 20px;
	 	padding-left: 20px;
	 	padding-right: 10px;
	}

	.menu-hvid{
		background-color: #2b2b2b;
		width: 18vw;
	}

	.fa-bars{
		color: #fff;
	}

	.fa-magnifying-glass{
		color: #fff;
	}
	
/*services*/

.bokscontainer {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 20px;
	margin-right: 20px;
  }

.boks1, .boks2, .boks3, .boks4 {
	width: 45vw;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.service-knap{
	margin-top: 45px;
}

	.knap-container{
		display: none;
	}

	h2{
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 55px;
	}

	.knap-pris {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.knap-pris button {
		background-color: #ff1e00;
		color: #fff;
		font-family: "DM Serif Display", serif;
		padding: 0.5em 0.5em;
		border: none;
		border-radius: 100px;
		width: 30%;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
		box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
	}

/*cases*/

	h4{
		margin-top: -5px;
	}

	.case-img{
		width: 100%;
		height: auto;
	}

	.cases-billeder{
		display: flex;
		justify-content: space-evenly;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 70px;
	}

/*kontakt skema*/
	
	.first-line {
		color: #ff1e00;
		display: flex;
	   justify-content: left;
	   margin-left: -70px;
	}
	
	.second-line {
		color: #333232;
		display: flex;
		justify-content: right;
		margin-right: -70px;
	}

	form {
		display: grid;
		grid-template-rows: 50% 50%;
	}
	
	.left{
		grid-row-start: 1;
	} 
	
	.right{
		grid-row-start: 2;
	}

	button{
		width: 50%;
	}

/*Footer*/

footer{
	height: auto;
}

footer img{
	max-width: 50%;
	height: auto;
	margin-left: 25vw;
}

footer p{
	font-size: 17px;
}

}
