/*Generel styling*/
 
* { 
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
	margin: 0;
}

img{
	max-width: 100%;
}

/*tekst og overskrifter*/
h1{
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
}

h2{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
	margin-bottom: 60px;
}

h3{
	font-size: 40px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #333232; 
	margin-top: 20px;
}

h4{
	font-size: 60px;
	font-family: "DM Serif Display", serif;
	text-align: center;
	color: #fff; 
}

h5 {
	font-size: 60px;
	line-height: 1;
}

h6 {
	font-size: 23px;
	font-family: "DM Serif Display", serif;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

/*indhold header*/
header {
	background-color: #2b2b2b;
	height: auto;
	max-width: auto;
}

.menu-top{
 	display: flex;
	justify-content: space-between;
	 padding-top: 20px;
	 padding-left: 60px;
	 padding-right: 60px;
}

.menu-hvid {
	width: 45vw;
	height: 50px;
	border-radius: 100px;
	background-color: #fff;
}

.fa-bars{
	display: flex;
	justify-content: right;
	margin-right: 20px;
}

.fa-magnifying-glass{
	display: flex;
	justify-content: left;
	margin-left: 20px;
	margin-top: 22px;
}

header h1{
	font-size: 50px;
	font-family: "DM Serif Display", serif;
	text-align: left;
	color: white;
}

header h2{
    font-size: 25vh;
	font-family: "DM Serif Display", serif;
	color: white;
    text-align: center;
}

.header-tekst{
    display: grid;
	grid-template-columns: 45% 10% 45%;
    padding-bottom: 30px;
    margin-top: -70px;
}

.k1{
	grid-column-start: 1;
	margin-left: 50px;
	font-size: 90px;
	font-family: "DM Serif Display", serif;
	color: white;
    text-align: left;
    grid-column-start: 1;
    margin-left: 60px;
    margin-top: 150px;
}

.k2 {
	grid-column-start: 3;
	font-size: 25px;
    font-family: 'Libre Caslon Text', serif;	
    line-height: 1.5;
    color: white;
    text-align: left;
    grid-column-start: 3;
    margin-left: -40px;
    margin-right: 60px;
    margin-top: 150px;
}

/* main indhold */
.first-line {
	color: #ff1e00;
    display: flex;
   justify-content: left;
   margin-left: 15vw;
   margin-top: 40px;
}

.second-line {
    color: #333232;
    display: flex;
    justify-content: right;
    margin-right: 15vw;
	margin-bottom: 40px;
}

main h3 {
	font-size: 80px;
	line-height: 1;
}

.sort-box{
    width: auto;
	height: 60vh;
	background-color: #2b2b2b;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	position: relative;
}
.column-main{
	display: grid;
	grid-template-columns: 10% 30% 20% 30% 10%;

}
.tilbud{
font-size: 30px;
}

.text-column1{
	grid-column-start: 1;
}
.text-column2{
	grid-column-start: 5;
}
.cirkel-top{
    background-color: #ff1e00;
    height: 80px;
    width: 160px;
    border-bottom-left-radius: 90px ;
    border-bottom-right-radius: 90px;
    margin-top: 0vh;
    margin-right: -80vh;
    position: absolute;
}
.cirkel-bottom{
    background-color: #ff1e00;
    height: 60px;
    width: 120px;
    border-top-left-radius: 90px ;
    border-top-right-radius: 90px;
    margin-top: 51.3vh;
    margin-left: -40vh;
    position: absolute;
}

/*Beige boks*/
.strategi-boks{
	width: 100vw;
	max-height :auto;
	background-color: #E6D4C3;
	margin-bottom: 100px;
}

.strategi-overskift{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}

.kolonne-strategi{
	display: flex;
}

section{
	margin-left: 50px;
	width: 40%;
}

aside{
	margin-right: 50px;
	width: 60%;
}

section img{
width: 60%;
height: auto;
}

.start-skrift{
font-size: 30px;
font-family: "DM Serif Display", serif;
text-align: left;
color: #000;
}
.punkt{
	color: #000;
}

/*Tidligere case*/
.tidligere-case{
	width: 100vw;
	max-height :auto;
	background-color: #2b2b2b;
	margin-bottom: 100px;
}

.case-overskift{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
	color: #fff;
}

.kolonne-case{
	display: flex;
}

.caseimg{
	margin-left: 50px;
	width: 30%;
}

.caseimg img{
	width: 100%;
	height: auto;
}

.beskrivelse{
	margin-right: 50px;
	width: 70%;
	color: #fff;
	margin-top: 60px;
	font-size: 20px;
}

.start-case{
	font-size: 25px;
}

/*Kontaktform*/
 
.kontaktform { /*styling af selve kontaktboksen*/
	border-radius: 30px;
	background-color: #EDECEC;
	padding: 3em;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 15vh;
	border: 1px solid #333232;
	}
	
   .kontakt-overskrift {
	color: #ff1e00;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 4vh;
   }
	
   input[type=text], input[type=email], input[type=tel], input[type=firma]{
	width: 100%;
	padding: 1em;
	border: 1px solid #333232;
	border-radius: 50px;
	margin-top: 0.5em;
	margin-bottom: 1em;
	}
	
	fieldset {
	border-style: none;
	margin-bottom: 0.8em;
   }
	
   input[type=checkbox]{
	margin: 0.8em 0;
   }
	
	input[type=submit]{
	background-color: #ff1e00;
	color: #fff;
	align-items: center;
	border: none;
	border-radius: 50px;
	width: 50%;
	font-size: 25px;
	cursor: pointer;
	margin-top: 15px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
	}
	
	input[type=submit]:hover{
	background-color: #333232;
	}

 /*footer*/
footer {
	background-color: #333232;
	height: auto;
	width: auto;
} 

footer img{
	max-width: 15%;
	height: auto;
	padding: 20px;
}

.kolonner{
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	padding-left: 20px;
}

.kolonne1{
	grid-column-start: 1;
}

.kolonne1 h6{
	line-height: 1;
	text-align: left;
	font-size: 23px;
}

.kolonne2 h6, .kolonne3 h6{
	line-height: 0.3;
	font-family: 'Libre Caslon Text', serif;
	font-size: 20px;
	text-align: left;
	border-bottom: 2px solid #fff;
	margin-right: 30px;
	padding-bottom: 20px;
}

.kolonne2{
	grid-column-start: 3;
}

.kolonne3{
	grid-column-start: 5;
}
.insta{
	width: 150%;
}
.tiktok{
	width: 150%;
}

hr{
	border: 1px solid #fff;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
} 

 /*responsiv til mobil*/
@media only screen and (max-width: 850px){
	form{
	width: 80% !important;
	}
	
	input[type=submit]{
	width: 60%;
	}
   } 
  
  